{% extends 'blog/base.html' %}
{% block title %}Home - My Blog{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Latest Blog Posts</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for post in posts %}
  <div class="col">
    <div class="card h-100">
      {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description|truncatechars:100 }}</p>
        <p class="text-muted small">
          By {{ post.author.full_name }} | {{ post.publish_date|date:"M d, Y" }}
        </p>
        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
