{% extends 'blog/base.html' %}
{% block title %}{{ post.title }} - My Blog{% endblock %}
{% block content %}
<article class="mt-4">
  <h1>{{ post.title }}</h1>
  <p class="text-muted">By {{ post.author.full_name }} | {{ post.publish_date|date:"M d, Y" }}</p>
  {% if post.image %}
    <img src="{{ post.image.url }}" class="img-fluid my-3" alt="{{ post.title }}">
  {% endif %}
  <div>
    {{ post.description|linebreaks }}
  </div>
</article>
<a href="{% url 'home' %}" class="btn btn-outline-secondary mt-3">Back to Home</a>
{% endblock %}
